.button {
    position: relative;
    width: 18em;
    height: 3.1em;
    outline: none;
    transition: 0.1s;
    background-color: transparent;
    border: none;
    font-size: 10px;
    font-weight: lighter;
    color: #ddebf0;
    text-align: center;
    text-justify: auto;
    margin-bottom: 8vh;
}

#clip {
    --color: #2761c3;
    position: absolute;
    top: 10px;
    overflow: hidden;
    width: 80%;
    height: 90%;
    border: 5px double var(--color);
    /*box-shadow: inset 0 0 15px #195480;*/
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.arrow {
    position: absolute;
    transition: 0.2s;
    background-color: #2761c3;
    top: 75%;
    width: 11%;
    height: 40%;
}

#leftArrow {
    left: -10%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
    -webkit-clip-path: polygon(100% 39%, 0 0, 0 100%);
    left: 97%;
}

button:hover #rightArrow {
    background-color: #27c39f;
    left: -12%;
    animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

button:hover #leftArrow {
    background-color: #27c39f;
    left: 99%;
    animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: #2761c3;
    transform: scale(1.2) rotate(43deg);
    transition: 0.2s;
    text-align: center;
}

#rightTop {
    top: -5.50em;
    left: 37%;
}

#leftTop {
    top: -5.96em;
    left: -2.0em;
}

#leftBottom {
    top: 6.10em;
    left: -2.00em;
}

#rightBottom {
    top: 137%;
    left: 88%;
}

button:hover #leftTop {
    animation: 0.1s ease-in-out 0.05s both changeColor8,
    0.1s linear 0.1s both lightEffect8;
}

button:hover #rightTop {
    animation: 0.1s ease-in-out 0.15s both changeColor8,
    0.1s linear 0.1 both lightEffect8;
}

button:hover #rightBottom {
    animation: 0.1s ease-in-out 0.1s both changeColor8,
    0.1s linear 0.1s both lightEffect8;
}

button:hover #leftBottom {
    animation: 0.1s ease-in-out 0.1s both changeColor8,
    0.1s linear 0.1s both lightEffect8;
}

button:hover .corner {
    transform: scale(1.25) rotate(45deg);
}

button:hover #clip {
    animation: 0.1s ease-in-out 0.1s both greenLight8;
    --color: #27c39f;
}

@keyframes changeColor8 {
    from {
        background-color: #2781c3;
    }

    to {
        background-color: #27c39f;
    }
}

@keyframes lightEffect8 {
    from {
        box-shadow: 1px 1px 5px #27c39f;
    }

    to {
        box-shadow: 0 0 2px #27c39f;
    }
}

@keyframes greenLight8 {
    from {
    }

    to {
        box-shadow: inset 0 0 32px #27c39f;
    }
}

@keyframes leftArrow8 {
    from {
        transform: translate(0px);
    }

    to {
        transform: translateX(10px);
    }
}

@keyframes rightArrow8 {
    from {
        transform: translate(0px);
    }

    to {
        transform: translateX(-10px);
    }
}


