.dialogue-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 53vh;
    height: 50vh;
    border-radius: 1vh;
    background: #f0f0f0;
    border: 0.5vh solid #0d318f;
    margin-bottom: 1vh;
    margin-right: 1vh;
}

.header-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
}

.header-box-title {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

.header-box-title-name {
    flex: 10;
    justify-content: center;
    align-items: start;
    color: #0d318f;
}

.header-box-title-close {
    flex: 1;
    padding-top: 1vh;
    padding-right: 1vh;
}

.close-button {
    background: inherit;
    border: 0;
    color: #0d318f;
}

.message-form {
    display: flex;
    flex: 4;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 2vh;
    padding-right: 3vh;
    padding-left: 3vh;
    padding-bottom: 2vh;
    max-height: 30vh;
    overflow-y: scroll;
    text-align: left;
}

.input-block {
    display: flex;
    flex: 1;
}

.input-block-message{
    padding-left: 3vh;
}

.message-input {
    padding: 1vh 3vh;
    max-width: 21vh;
    white-space: break-spaces;
    text-overflow: clip;
    border-radius: 1vh;
    text-align: right;
}

.input-block-button{
    flex: 3;
    justify-self: flex-end;
}

.send-button {
    background-color: #3498db;
    color: #fff;
    padding: 1vh 2vh;
    border: none;
    border-radius: 1vh;
    max-width: min-content;
    cursor: pointer;
}

@media (max-width: 768px) {
    .chatDialog {
        width: 100%;
        height: 50vh;
    }
}

@media screen and (max-width: 768px) {
    .dialogue-container {
        background-color: pink;
    }
}

@media screen and (max-width: 1024px) {
    .dialogue-container {
        background-color: darkgray;
    }
}
