.gallery-box {
    display: flex;
    position: fixed;
    left: 23.5%;
    top: 11.5vh;
    color: white;
    border: none;
    flex-wrap: wrap;
    width: 120vh;
}

.gallery-photo {
    width: 33vh;
    height: 33vh;
    margin: 3vh;
}